NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here

NEXT_PUBLIC_APP_URL=http://localhost:3000

# Netopia Mobilpay Config
NETOPIA_SIGNATURE=XXXX-XXXX-XXXX-XXXX-XXXX
NETOPIA_PUBLIC_KEY=your_netopia_public_key_here
NETOPIA_PRIVATE_KEY=your_netopia_private_key_here